# Logs
logs
*.log
npm-debug.log*
.git

# Dependency directory
node_modules
bower_components

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history


# Temp files
.DS_Store
~*
*.swp
coverage
